<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller = 'LoginCtrl'>
    <form ng-submit="doLogin()">
      <div class="list">
      <!-- Login with Facebook Button -->
        <label class="item">
          <button ng-click="authenticate('facebook')" ng-show="isVisible()"
                  class="button button-block button-positive"
                  type="submit">Log in with Facebook</button>
        </label>
      
        <div  class="item" ng-hide="isVisible()"> 
        <p class="welcomeMsg">Welcome to Facebook. You are now logged in.</p>
        <p class="welcomeMsg"></p>
       
        <!-- Log out Button-->
        <label >
        <button ng-click="logOut()" 
                  class="button button-block button-positive"
                  type="submit">Log Out</button>
        </label>
        </div>
        

      </div>
    </form>
  </ion-content>
</ion-modal-view>
